<html>
 <head>
  <title>ESI Knife Data</title>
  <style>
{% include "style.css" %}
  </style>
 </head>
 <body>
  <div>
   <h1><a href="/" title="fancy logo here">ESI Knife</a></h1>
  </div>
  <div>
   <h1>Data pending</h1>
   <p>Your job is in the queue. Please check back later (get a coffee, it'll probably be a few minutes) for your results.</p>
   <p><a href="/view?token={{ token }}">SAVE THIS LINK</a> - it's the only way you can access and/or share your data later.</p>
  </div>
  <div>
   <h1>Current state: {{ state }}</h1>
  </div>
 </body>
</html>
